<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="default | dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{36}) - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.mangareader" level="DEBUG"/>
        <logger name="org.mongodb.driver.cluster" level="WARN"/>
    </springProfile>
    <springProfile name="prod">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
        </appender>
        <root level="WARN">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
        <logger name="com.mangareader" level="INFO"/>
        <logger name="org.hibernate.SQL" level="WARN"/>
        <logger name="org.mongodb.driver.cluster" level="WARN"/>
    </springProfile>
    <springProfile name="test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
