/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  color: #ffffff;
  letter-spacing: 0.0625rem;
}

/* Reset */

html {
  background-color: #161616;
}

/* Define a largura da scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border: 0.125rem solid #2d2d2d;
  transition: background-color 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

::-webkit-scrollbar-thumb:active {
  background-color: #999;
}

.scrollbar-hidden {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  scrollbar-color: transparent transparent !important;
}

/* Tailwind */

/* Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;
