:root {
  --primary-color: #252526;
  --secondary-color: #727273;
  --tertiary-color: #ddd92a;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

.header__links {
  border-bottom: 1px solid var(--secondary-color) !important;
}

.header__links > .container-fluid > div > ul > li > a {
  font-size: 1.125rem;
  font-weight: 700;
  transition: color 0.25s ease;
}

.header__links > .container-fluid > div > ul > li > a:hover {
  color: var(--secondary-color) !important;
}

.header__breadcrumb {
  background-color: var(--primary-color) !important;
  border-bottom: 1px solid var(--secondary-color) !important;
}

.header__breadcrumb > .container-fluid > ol > li {
  font-size: 1.125rem;
  font-weight: 700;
}

.header__breadcrumb > .container-fluid > ol > li > a {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: color 0.25s ease;
}

#navbarNav {
  flex-basis: auto !important;
}
